<link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="index.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
 crossorigin="anonymous">
<link href="main.css" rel="stylesheet" media="screen">

<nav class="navbar navbar-default navbar-fixed-top topbar">
	<div class="container-fluid">

		<div class="navbar-header">

			<a href="#" class="navbar-brand">
				<span class="visible-xs">SBB</span>
				<span class="hidden-xs">Predicitive Maintenance Control Center</span>
			</a>

			<p class="navbar-text">
				<a href="#" class="sidebar-toggle">
					<i class="fa fa-bars"></i>
				</a>
			</p>

		</div>

		<div class="navbar-collapse collapse" id="navbar-collapse-main">

			<ul class="nav navbar-nav navbar-right">

				<li>
					<button class="navbar-btn">
						<i class="fa fa-bell"></i>
					</button>
				</li>

				<li class="dropdown">
					<button class="navbar-btn" data-toggle="dropdown">
						<img src="http://lorempixel.com/30/30/people" class="img-circle">
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Account</a>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li class="nav-divider"></li>
						<li>
							<a href="#">Logout</a>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</div>
</nav>

<article class="wrapper">

	<section class="main">



		<section class="tab-content">



			<section class="tab-pane active fade in content" id="dashboard">

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading" id="train-id">
							<h1>RABE-2</h1>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-6 col-sm-3">
						<div class="panel panel-primary">
							<div class="panel-body" id="p-1">
								<img class="image-p-1" src="media/train/left-green.png" width="100%" />
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="panel panel-success">
							<div class="panel-body" id="p-2">
								<img class="image-p-1" src="media/train/middle.png" width="100%" />
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="panel panel-danger">
							<div class="panel-body" id="p-3">
								<img class="image-p-1" src="media/train/middle.png" width="100%" />
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-3">
						<div class="panel panel-warning">
							<div class="panel-body" id="p-4">
								<img class="image-p-1" src="media/train/right-green.png" width="100%" />
							</div>
						</div>
					</div>

					<!-- FRONT -->
					<div class="col-xs-12 col-sm-9" id="pantograph-front">
						<div class="panel panel-default">
							<div class="panel-heading">
								RABE-2 Pantograph Front
							</div>
							<div class="panel-body">

								<br/>


								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="col-xs-6">Information</div>
										<div class="col-xs-6">Wert</div>
										<br/>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Letztes Bild
											</div>
											<div class="col-sm-6" id="created">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Schichtdicke
											</div>
											<div class="col-sm-6" id="thickness">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Abplatzung
											</div>
											<div class="col-sm-6" id="abplatzung">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Schraegschliff
											</div>
											<div class="col-sm-6" id="diagonal-cut">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Prognostizierte Lebenszeit
											</div>
											<div class="col-sm-6" id="predictions">
												dings
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="pantograph-pictures">

								<div class="left">
									<div class="panel panel-default">
										<h2>Pantograph Bild Links</h2>
									</div>
									<div class="panel-picture">
										<img id="pantograph-image-left" src="dings.jpg" width="95%" />
									</div>
								</div>
								<div class="left">
									<h2>Pantograph Bild Rechts</h2>
									<div class="panel-picture">
										<img id="pantograph-image-right" src="dings.jpg" width="95%" />
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- BACK -->

					<div class="col-xs-12 col-sm-9" id="pantograph-back">
						<div class="panel panel-default">
							<div class="panel-heading">
								RABE-2 Pantograph Back
							</div>
							<div class="panel-body">

								<br/>


								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="col-xs-6">Information</div>
										<div class="col-xs-6">Wert</div>
										<br/>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Letztes Bild
											</div>
											<div class="col-sm-6" id="created2">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Schichtdicke
											</div>
											<div class="col-sm-6" id="thickness2">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Abplatzung
											</div>
											<div class="col-sm-6" id="abplatzung2">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Schraegschliff
											</div>
											<div class="col-sm-6" id="diagonal-cut2">
												dings
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class "row">
											<div class="col-sm-6">
												Prognostizierte Lebenszeit
											</div>
											<div class="col-sm-6" id="predictions2">
												dings
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="pantograph-pictures">
									<div class="left">
											<div class="panel panel-default">
												<h2>Pantograph Bild Links</h2>
											</div>
											<div class="panel-picture">
												<img id="pantograph-image-left" src="dings.jpg" width="95%" />
											</div>
										</div>
								<div class="left">
								</div>
								</div>
								<div class="left">
									<h2>Pantograph Bild Rechts</h2>
									<div class="panel-picture">
										<img id="pantograph-image-right2" src="dings.jpg" width="95%" />
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>



				</div>

			</section>

			<section class="tab-pane fade" id="configuration">
				<nav class="subbar">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#access" data-toggle="tab">
								<i class="fa fa-code"></i>
								<span>System</span>
							</a>
						</li>
						<li>
							<a href="#roles" data-toggle="tab">
								<i class="fa fa-user"></i>
								<span>Roles</span>
							</a>
						</li>
					</ul>
				</nav>

				<section class="tab-content content">

					<section class="tab-pane active fade in" id="access">

						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>
						</div>

					</section>

					<section class="tab-pane fade" id="roles">

						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-9">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>

							<div class="hidden-xs col-sm-4 col-md-3">
								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										Something
									</div>
									<div class="panel-body">
										<br/>
										<br/>
										<br/>
									</div>
								</div>
							</div>
						</div>
					</section>

				</section>

			</section>

			<section class="tab-pane fade" id="users">

			</section>

			<section class="tab-pane fade" id="mail">

			</section>

		</section>




	</section>

</article>